
@{
    ViewData["Title"] = "Principal";
}

<a class="btn btn-outline-secondary" href="CadastrarLocal"> Cadastrar Local</a>
<a class="btn btn-outline-secondary" href="CadastrarEntradaSaida"> Cadastrar Entrada/Saída de estoque</a>
<a class="btn btn-outline-secondary" href="ListarEntradaSaida"> Listar Entrada/Saída de estoque</a>

