@{
    ViewData["Title"] = "Listagem de locais ";
}

<a class="btn btn-outline-primary" href="Local/cadastro"> Cadastrar </a>

<table class="table table-hover ">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Textil Pavesi</td>
            <td>Rua Arnoldo Ristow, 593</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Neide</td>
            <td>Moura</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Zeca</td>
            <td>Aguas claras, Brusque</td>
        </tr>
    </tbody>
</table>