@{
    ViewData["Title"] = "Listagem de locais de entrada e saída";
}

<a class="btn btn-outline-primary" href="EntradaSaida/cadastro"> Cadastrar </a>

<table class="table table-hover ">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Local</th>
            <th scope="col">TipoRegistro</th>
            <th scope="col">Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Textil Pavesi</td>
            <td>Entra</td>
            <td>200</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Neide</td>
            <td>Entra</td>
            <td>200</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Neide</td>
            <td>Saida</td>
            <td>100</td>
        </tr>
    </tbody>
</table>