
@{
    ViewData["Title"] = "Home";
}

<a class="btn btn-outline-primary" href="CadastroLocal"> Cadastrar Local</a>
<a class="btn btn-outline-primary" href="EntradaSaida"> Cadastrar Entrada/Saída de estoque</a>
<a class="btn btn-outline-primary" href="ListarEntradaSaida"> Listar Entrada/Saída de estoque</a>

