
@{
    ViewData["Title"] = "Home";
}

<button class="btn btn-outline-primary">@Html.ActionLink("Cidades", "Create", "Cidades")</button>
<button class="btn btn-outline-primary">@Html.ActionLink("Bairros", "Create", "Bairros")</button>
<button class="btn btn-outline-primary">@Html.ActionLink("Endereços", "Create", "Enderecoes")</button>


