@{
    ViewData["Title"] = "Cadastro de local";
}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    Cadastro de local
                </div>
                <div class="card-body">
                    <form method="post" action="/CadastroLocal/Cadastrar">
                        <div class="form-group">
                            <label for="local">Local</label>
                            <input id="local" class="form-control" placeholder="Digite o nome do local" type="text" name="">
                        </div>
                        <div class="form-group">
                            <label for="endereco">Endereço</label>
                            <input id="endereco" class="form-control" placeholder="Digite o endereço do local" type="text" name="">
                        </div>
                        <button  class="btn btn-primary float-right mt-1" type="submit">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>